Reference/A.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.omg.org/bpmn/miwg/test/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="ServiceA1" 
    targetNamespace="http://www.omg.org/bpmn/miwg/test/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/bpmn/miwg/test/">
      <xsd:element name="a_1_1">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="a_1_2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="a_1_2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="a_1_1Request">
  </wsdl:message>
  <wsdl:message name="a_1_2Request">
    <wsdl:part name="parameters" element="tns:a_1_2"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="a_1_2Response">
    <wsdl:part name="parameters" element="tns:a_1_2Response"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceA1Interface">
    <wsdl:operation name="a_1_1">
      <wsdl:input message="tns:a_1_1Request"/>
    </wsdl:operation>
    <wsdl:operation name="a_1_2">
      <wsdl:input message="tns:a_1_2Request"></wsdl:input>
      <wsdl:output message="tns:a_1_2Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceA1SOAP"
    type="tns:ServiceA1Interface">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="a_1_1">
      <soap:operation
        soapAction="http://www.omg.org/bpmn/miwg/test/a_1_1" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="a_1_2">
      <soap:operation
        soapAction="http://www.omg.org/bpmn/miwg/test/a_1_2" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceA1Impl">
    <wsdl:port binding="tns:ServiceA1SOAP" name="ServiceA1ImplSOAP">
      <soap:address location="https://www.knowprocess.com/miwg-service/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
